In [3]:
import pandas as pd
from datetime import datetime
import numpy as np

In [4]:
# name of the subreddit to process
subreddit = 'movies'

In [5]:
time_data = pd.read_csv(f'../Desktop/DVA Project Data/{subreddit.capitalize()}/topics_over_time_{subreddit}.csv')

In [6]:
time_data = time_data.drop(time_data.index[time_data['Topic'] == -1], axis=0)

In [7]:
time_data

,Topic,Words,Frequency,Timestamp,Name
1,0,"movie, film, movies, watch, like",819,2019-12-31 04:37:24.768,0_movie_film_movies_like
2,1,"trailer, official trailer, official, trailers,...",45,2019-12-31 04:37:24.768,1_trailer_official trailer_official_trai...
3,2,"marvel, mcu, endgame, avengers, captain marvel",36,2019-12-31 04:37:24.768,2_marvel_mcu_avengers_endgame
4,3,"star war, war, star, skywalker, rise skywalker",51,2019-12-31 04:37:24.768,3_star war_war_star_jedi
5,4,"poster, posters, theposterdb, official poster,...",30,2019-12-31 04:37:24.768,4_poster_posters_movie posters_official ...
...,...,...,...,...,...
2268,23,"rat, maybe new rat, film restrictions, film de...",1,2022-03-28 15:14:38.600,23_rat_imdb_movies_fuck fuck fuck
2269,30,"pyramid, indy, temple, trap puzzle arc, movies...",1,2022-03-28 15:14:38.600,30_indiana_indiana jones_jones_indy
2270,46,"ign release, ign release pixar, release pixar ...",1,2022-03-28 15:14:38.600,46_pixar_toy story_soul_toy
2271,53,"brick wall, hagrid, brick, figure, weasley figure",1,2022-03-28 15:14:38.600,53_harry_potter_harry potter_fantastic b...
2272,56,"cut, director cut, theatrical, theatrical cut,...",1,2022-03-28 15:14:38.600,56_cut_version_theatrical_director cut

In [8]:
sentiment_data = pd.read_csv(f'../Desktop/DVA Project Data/{subreddit.capitalize()}/{subreddit}_comment_sentiment.csv')

In [9]:
sentiment_data = sentiment_data.drop(sentiment_data.index[sentiment_data['topic'] == -1], axis=0)

In [10]:
sentiment_data

,created_dt_month,topic,comment_sentiment,name
0,2020-01-01,41,0.680817,41_japanese_samurai_kurosawa_akira
1,2020-01-01,42,-0.118826,42_suicide squad_squad_suicide_gunn
2,2020-01-01,43,0.094605,43_mission impossible_mission_impossible_tom c...
3,2020-01-01,44,0.865847,44_ridley_ridley scott_scott_duel
4,2020-01-01,45,0.583389,45_rocky_rambo_stallone_creed
...,...,...,...,...
2154,2022-04-01,68,-0.667400,68_furious_fast_amp furious_fast amp furious
2155,2022-04-01,74,0.980600,74_thrillers_thriller_psychological_movies
2156,2022-04-01,52,0.921800,52_quote_movie quote_line_movie
2157,2022-04-01,57,0.972800,57_sex_sex scenes_nudity_scenes
2158,2022-04-01,8,0.994800,8_batman_dark knight_knight_dark

In [11]:
timestamp_to_month = lambda x: datetime.strptime(x, '%Y-%m-%d').strftime('%B %Y')

In [12]:
string_split_date = lambda x: x.split(' ')[0]

In [13]:
time_data['Timestamp'] = time_data['Timestamp'].apply(string_split_date)

In [14]:
time_data.head(5)

,Topic,Words,Frequency,Timestamp,Name
1,0,"movie, film, movies, watch, like",819,2019-12-31,0_movie_film_movies_like
2,1,"trailer, official trailer, official, trailers,...",45,2019-12-31,1_trailer_official trailer_official_trai...
3,2,"marvel, mcu, endgame, avengers, captain marvel",36,2019-12-31,2_marvel_mcu_avengers_endgame
4,3,"star war, war, star, skywalker, rise skywalker",51,2019-12-31,3_star war_war_star_jedi
5,4,"poster, posters, theposterdb, official poster,...",30,2019-12-31,4_poster_posters_movie posters_official ...

In [15]:
time_data = time_data.replace('2019-12-31', '2020-01-01')

In [16]:
time_data['Timestamp'] = time_data['Timestamp'].apply(timestamp_to_month)

In [17]:
time_data

,Topic,Words,Frequency,Timestamp,Name
1,0,"movie, film, movies, watch, like",819,January 2020,0_movie_film_movies_like
2,1,"trailer, official trailer, official, trailers,...",45,January 2020,1_trailer_official trailer_official_trai...
3,2,"marvel, mcu, endgame, avengers, captain marvel",36,January 2020,2_marvel_mcu_avengers_endgame
4,3,"star war, war, star, skywalker, rise skywalker",51,January 2020,3_star war_war_star_jedi
5,4,"poster, posters, theposterdb, official poster,...",30,January 2020,4_poster_posters_movie posters_official ...
...,...,...,...,...,...
2268,23,"rat, maybe new rat, film restrictions, film de...",1,March 2022,23_rat_imdb_movies_fuck fuck fuck
2269,30,"pyramid, indy, temple, trap puzzle arc, movies...",1,March 2022,30_indiana_indiana jones_jones_indy
2270,46,"ign release, ign release pixar, release pixar ...",1,March 2022,46_pixar_toy story_soul_toy
2271,53,"brick wall, hagrid, brick, figure, weasley figure",1,March 2022,53_harry_potter_harry potter_fantastic b...
2272,56,"cut, director cut, theatrical, theatrical cut,...",1,March 2022,56_cut_version_theatrical_director cut

In [18]:
np.unique(time_data['Timestamp'])

array(['April 2020', 'April 2021', 'August 2020', 'August 2021',
       'December 2020', 'December 2021', 'February 2020', 'February 2021',
       'February 2022', 'January 2020', 'January 2021', 'January 2022',
       'July 2020', 'July 2021', 'June 2020', 'June 2021', 'March 2020',
       'March 2021', 'March 2022', 'May 2020', 'May 2021',
       'November 2020', 'November 2021', 'October 2020', 'October 2021',
       'September 2020', 'September 2021'], dtype=object)

In [19]:
sentiment_data['created_dt_month'] = sentiment_data['created_dt_month'].apply(timestamp_to_month)

In [20]:
np.unique(sentiment_data['created_dt_month'])

array(['April 2020', 'April 2021', 'April 2022', 'August 2020',
       'August 2021', 'December 2020', 'December 2021', 'February 2020',
       'February 2021', 'February 2022', 'January 2020', 'January 2021',
       'January 2022', 'July 2020', 'July 2021', 'June 2020', 'June 2021',
       'March 2020', 'March 2021', 'March 2022', 'May 2020', 'May 2021',
       'November 2020', 'November 2021', 'October 2020', 'October 2021',
       'September 2020', 'September 2021'], dtype=object)

In [21]:
final_df = time_data.merge(sentiment_data, how='inner', left_on=['Topic', 'Timestamp'], right_on=['topic', 'created_dt_month'])

In [22]:
final_df

,Topic,Words,Frequency,Timestamp,Name,created_dt_month,topic,comment_sentiment,name
0,0,"movie, film, movies, watch, like",819,January 2020,0_movie_film_movies_like,January 2020,0,0.554721,0_movie_film_movies_like
1,0,"movie, film, like, movies, think",781,January 2020,0_movie_film_movies_like,January 2020,0,0.554721,0_movie_film_movies_like
2,1,"trailer, official trailer, official, trailers,...",45,January 2020,1_trailer_official trailer_official_trai...,January 2020,1,0.537122,1_trailer_official trailer_official_trailers
3,1,"trailer, official trailer, trailers, official,...",38,January 2020,1_trailer_official trailer_official_trai...,January 2020,1,0.537122,1_trailer_official trailer_official_trailers
4,2,"marvel, mcu, endgame, avengers, captain marvel",36,January 2020,2_marvel_mcu_avengers_endgame,January 2020,2,0.603009,2_marvel_mcu_avengers_endgame
...,...,...,...,...,...,...,...,...,...
2170,23,"rat, maybe new rat, film restrictions, film de...",1,March 2022,23_rat_imdb_movies_fuck fuck fuck,March 2022,23,0.695370,23_rat_imdb_movies_fuck fuck fuck
2171,30,"pyramid, indy, temple, trap puzzle arc, movies...",1,March 2022,30_indiana_indiana jones_jones_indy,March 2022,30,0.478400,30_indiana_indiana jones_jones_indy
2172,46,"ign release, ign release pixar, release pixar ...",1,March 2022,46_pixar_toy story_soul_toy,March 2022,46,0.586191,46_pixar_toy story_soul_toy
2173,53,"brick wall, hagrid, brick, figure, weasley figure",1,March 2022,53_harry_potter_harry potter_fantastic b...,March 2022,53,0.622765,53_harry_potter_harry potter_fantastic beasts
2174,56,"cut, director cut, theatrical, theatrical cut,...",1,March 2022,56_cut_version_theatrical_director cut,March 2022,56,0.260631,56_cut_version_theatrical_director cut

In [23]:
output_df = final_df[['Topic', 'Words', 'Frequency', 'Timestamp', 'comment_sentiment', 'name']]

In [24]:
output_df.to_csv(f'../Desktop/DVA Project Data/{subreddit.capitalize()}/topics_sentiments_{subreddit}.csv', index=False)